<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TweetWall</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <style type="text/css"></style>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <style type="text/css">
            .container {}
            body {
                background-image:url(https://abs.twimg.com/images/themes/theme1/bg.png); 
                background-repeat: no-repeat;
                background-color:#C0DEED;
                padding-top: 40px;
                padding-bottom: 40px;
            }
            #tweet {padding-top: 10px;
                background-color:white}
            #time {color:#AAA}
        </style>
    </head>

    <body>
        <div class="container">

        {% if not tweets %}
            <div class="text-center">
                <h1>TweetWall</h1>
            </div>
            <div>
                <div class="input-group col-md-6 col-md-offset-3">
                    <form method="get" action="">
                        <input type="text" name="topic" class="search-query form-control" placeholder="Please type a topic" />
                    </form>
                    <span class="input-group-btn">
                        <button class="btn" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>

        {% else %}
            <div class="col-md-3">
                <a href="/tweets"><h1>TweetWall</h1></a>
            </div>
            <div>
                <div class="input-group col-md-6">
                    <form method="get" action="">
                        <input type="text" name="topic" class="search-query form-control" placeholder="Please type a topic" />
                    </form>
                    <span class="input-group-btn">
                        <button class="btn" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <br>
                <div id="tweet" class="col-md-6">
                    {% for t in tweets %}
                        <div id="">
                            <div id="" class="col-md-2">
                                <img src="{{ t['user']['profile_image_url_https'] }}" alt=""> 
                            </div>
                            <div id="" class="col-md-10">
                                <strong><a href="https://twitter.com/{{ t['user']['screen_name']}}">{{t['user']['name']}}</a></strong>
                                <span>@{{ t['user']['screen_name'] }}</span>
                                <p>{{ t['text'] }}</p>
                                <small><span id="time">{{t['created_at']}}</span></small>
                                <hr>
                            </div>
                        </div>
                    {% end %}
                </div>
            </div>
        </div>
        {% end %}
    </body>
</html>
